<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Log In</a>
    </li>
    <li class="nac-item">
      <a class="nav-link" routerLink="search"> Search </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='add'>Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='delete'>Delete</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
</ul>

<router-outlet></router-outlet>


<!-- <h2>{{pkmn.name | uppercase}} Info: </h2>
<ul>
  <li>ID: {{pkmn.id}}</li>
  <li>Name: {{pkmn.name}}</li>
  <li> Type(s): </li>
  <div *ngFor="let type of pkmn.types">
    {{type}}
  </div>
</ul> 

<h2>Result of querying the Python API</h2> -->
<!-- <ul>
  <li>Testing</li>
  <div *ngFor="let p of pers">
    <li> Perons: {{p.name}}</li>
  </div> 
</ul> -->
<!-- Wont display for some reason -->
<!-- <h2>{{pers[0].name}}</h2>
<div *ngFor="let p of pers">
  <h1>{{p.name}}</h1>
</div>  -->

